@import url(./reset.css);

#wrap {
    font-size: 14px;
}

main {
    background-color: aquamarine;
    width: 100%;
    height: 1000px;
}

.inner {
    width: 1200px;
    text-align: left;
    margin: 0 auto;
    padding: 18px 0;
}

.scollTop {
    position: fixed;
    text-align: center;
    right: 10px;
    bottom: 62px;
    cursor: pointer;
    z-index: 99999;
}

.scollTop > img {
    border-radius: 10%;
}

.scollTop:hover {
    content: url(../image/scrollUpHover.PNG);
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.footerLayout {
    width: 100%;
    margin: 80px 0 0;
}

.footerTop {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #555555;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    font-weight: 300;
    text-align: center;
}

.footerNav {
    width: 1200px;
    text-align: left;
    margin: 0 auto;
    padding: 18px 0;
}

.footerNav > li + li {
    padding-left: 11px;
    position: relative;
}

.footerNav > li + li::before {
    content: "";
    width: 1px;
    height: 8px;
    background: #666666;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footerNav > li {
    display: inline-block;
    position: relative;
    padding-right: 11px;
    line-height: 13px;
}

.footerNav > li > a{
    display: block;
    font-size: 13px;
    color: #adadad;
}

.footerBottom {
    position: relative;
}

.footerInfo{
    padding: 34px 0 40px;
    overflow: hidden;
}

.address, .footerLogo{
    display: inline-block;
}

.footerLogo {
    margin: 7px 40px 7px 0;
    width: 180px;
    height: 58px;
    background: url(../image/footerLogo.png) no-repeat left;
}


address > span{
    display: inline-block;
    width: 1px;
    margin: 0 9px;
    height: 8px;
    background: #666666;
    vertical-align: middle;
}

address {
    font-size: 13px;
    line-height: 26px;
    color: #adadad;
}


.copyright{
    margin-top: 14px;
    font-size: 14px;
    color: #777777;
}